@using Microsoft.AspNetCore.Components.Routing
@using IMS.WebApp.Client.Authentication
@using IMS.WebApp.Components.Pages
@inherits LayoutComponentBase
@inject ITokenService TokenService
@inject AuthStateService AuthStateService
@inject NavigationManager NavigationManager

<MudThemeProvider />
<div class="page">
    @if (IsAuthenticated)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    }
    else
    {
        @if (IsSignupUrl)
        {
            <Signup />
        }
        else
        {
            <Login />
        }
    }
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool IsSignupUrl => NavigationManager.Uri.EndsWith("/signup", StringComparison.OrdinalIgnoreCase);
    private bool IsAuthenticated { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateService.GetAuthenticationStateAsync();
        IsAuthenticated = authState.User.Identity.IsAuthenticated;
    }
}
