@inherits LayoutComponentBase

<MudThemeProvider />
<div class="login-page">
    @Body
</div>

<style>
    .login-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
       
    }
</style>
