@using IMS.WebApp.Components.Layout.Shared
@inherits LayoutComponentBase


   <MudThemeProvider />
<div class="public-page">
    <!-- Fixed Header -->
    <header>
        <Header />
    </header>

    <!-- Body Content -->
    <main class="main-content">
        @Body
    </main>

    <!-- Fixed Footer -->
    <footer>
        <Footer/>
    </footer>
</div>


<style>
    .public-page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 64px;
        z-index: 10;
        background-color: white;
    }

    .main-content {
        flex: 1;
        margin-top: 64px;
        padding: 16px;
        padding-bottom: 64px;
        overflow-y: auto;
    }

    .footer {
        background-color: #232f3e;
        color: white;
        padding: 16px;
    }

    .footer-column {
        flex: 1;
        min-width: 200px;
        margin: 8px;
    }

    .bg-dark {
        background-color: #232f3e;
    }

    .text-white {
        color: #ffffff;
    }
</style>