@using IMS.WebApp.Components.Layout.Shared
@inherits LayoutComponentBase


   <MudThemeProvider />
<div class="public-page">
    <!-- Fixed Header -->
    <header>
        <Header />
    </header>

    <!-- Body Content -->
    <main class="main-content">
        @Body
    </main>

    <!-- Fixed Footer -->
    <footer>
        <Footer/>
    </footer>
</div>


<style>
    .public-page {
        display: flex;
        flex-direction: column;
        height: 100vh; /* Full viewport height */
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10; /* Ensure header is above the body content */
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10; /* Ensure footer is above the body content */
    }

    .main-content {
        flex: 1;
        margin-top: 64px; /* Adjust based on header height */
        margin-bottom: 48px; /* Adjust based on footer height */
        overflow-y: auto; /* Ensure scrolling if content exceeds viewport height */
        padding: 16px;
    }

</style>