@using IMS.WebApp.Client.Authentication
@inject AuthStateService AuthStateService
    <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
        <Found Context="routeData">
            @if (AuthStateService.IsLoggedIn)
            {
                <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
            }
            else
            {
            <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
                //<RouteView RouteData="routeData" DefaultLayout="typeof(Layout.PublicLayout)" />
            }
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <h1>Page not found</h1>
        </NotFound>
    </Router>



